.CardList {
    width: 100%;
    min-width: 938px;
    display: flex;
    flex-direction: column;
    column-gap: 10px;
    padding-top: 15px;
}
  
.cardList-preloader {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
@media screen and (max-width: 1028px) {
    .CardList {
      min-width: 387px;
}
}