* {
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.main {
  width: 940px;
  display: grid;
  grid-template-columns: 451px 451px;
  column-gap: 30px;
  row-gap: 30px;
}

.ant-layout-content {
  padding: 0px 15px 0 15px;
}

.input-wrapper {
  width: 937px;
  padding-bottom: 15px;
}

@media screen and (max-width: 1028px) {
  .wrapper {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
  }

  .main {
    width: 388px;
    display: grid;
    grid-template-columns: 388px;
    column-gap: 30px;
    row-gap: 30px;
  }

  .input-wrapper {
    width: 388px;
    padding-bottom: 15px;
  }
}
